ins{
	font-weight: bold;
    color: #ffb424;
    text-decoration: none;
    line-height: 24px;
    float: left;
}
.price{
   font-weight: bold;
    color: #ffb424;
    text-decoration: none;
    line-height: 24px; 
}
del{
	color: #999999;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 24px;
    padding-left: 15px;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	padding: 0 15px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: none;
    background: #5a88ca;
    color: #fff;
    border-radius: 0;

}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
    background: #5a88ca;
    color: #fff;
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message{
	padding: 0;
	width: 100%;
	float: left;
}
.woocommerce .cart-empty{
	border: 1px solid #eaeaea;
	padding: 15px;
	width: 100%;
	float: left;
}
.woocommerce table.shop_table{
	border-radius: 0;
	border: none;
	padding: 0;
	border-collapse: collapse;
}
.woocommerce-checkout #payment{
	background: #eaeaea;
	border: none;
	border-radius: 0;
}

/*----------------
[Widget]
-----------------*/
.woocommerce.widget_product_search {
    padding: 0;
    border: none;
    webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
}
.woocommerce.widget_product_search .widget-title {
    display: none;
}
.woocommerce.widget_product_search form {
    position: relative;
}
.woocommerce.widget_product_search .screen-reader-text {
    display: none;
}
.woocommerce.widget_product_search .search-field {
    padding-right: 70px;
}
.woocommerce.widget_product_search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
}

.widget_shopping_cart .iner-block-cart{
	display: none;
}
.widget_shopping_cart .mini-cart-head{
	text-transform: uppercase;
}
.widget_shopping_cart ul{
	padding: 0;
}
.widget_shopping_cart .mini_cart_item {
	list-style: none;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.widget_shopping_cart .mini_cart_item .p-left{
	width: 70px;
	float: left;
	position: relative;
}
.widget_shopping_cart .mini_cart_item .p-right{
	margin-left: 80px;
	line-height: 24px;
}
.widget_shopping_cart .mini_cart_item p{
	margin: 0;
}
.widget_shopping_cart .toal-price{
	font-size: 18px;
}
.widget_shopping_cart .remove_link{
	width: 9px;
	height: 9px;
	display: inline-block;
	background: url('../images/delete_icon.png') no-repeat left center;
	position: absolute;
	top: 5px;
	left: 5px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range{
	background: #eaeaea;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	height: 1px;
    border-radius: 0;
    background: #5a88ca;
    border: none;
    margin-left: 0;
    margin-right: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	width: 10px;
	height: 10px;
	border: none;
	background: #5a88ca;
}

.widget_product_categories .product-categories{
	padding: 0;
}
.widget_product_categories .product-categories li{
	list-style: none;
}
.widget_product_categories .product-categories>li>a{
	font-weight: bold;
}
.widget_product_categories .product-categories>li.cat-parent{
	position: relative;
	cursor: pointer;
}
.widget_product_categories .product-categories>li.cat-parent:after{
	height: 13px;
    width: 13px;
    content: '';
    background: url('../images/plus-square.png') no-repeat;
    display: inline-block;
    float: right;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}
.widget_product_categories .product-categories>li.cat-parent:hover:after {
    background: url('../images/plus-square-hover.png') no-repeat;
}
.widget_product_categories .product-categories>li.cat-parent.active:after {
    background: url('../images/minus.png') no-repeat;
    top: 15px;
}
.widget_product_categories .product-categories>li.cat-parent.active:hover:after {
    background: url('../images/minus-hover.png') no-repeat;
}

.widget_product_categories .product-categories li ul{
	padding: 0;
}
.widget_product_categories .children>li>a:before{
	content: "\f178";
    font-family: "FontAwesome";
    font-size: 14px;
    color: #5a88ca;
    margin-right: 15px;
}
.widget_product_categories .children{
	display: none;
}
.widget_product_categories .count{
	font-size: 12px;
}

.widget_products .product_list_widget li,
.widget_recent_reviews .product_list_widget li,
.widget_top_rated_products .product_list_widget li{
	line-height: 24px;
}
.widget_products ul.product_list_widget li img,
.widget_recent_reviews ul.product_list_widget li img,
.widget_top_rated_products ul.product_list_widget li img{
	width: 70px;
	float: left;
}
.widget_products ul.product_list_widget .product-title,
.widget_recent_reviews ul.product_list_widget .product-title,
.widget_top_rated_products ul.product_list_widget .product-title{
	font-weight: normal;
	margin-left: 10px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
    margin: 0;
}
ul.product_list_widget .amount{
    margin-left: 10px;
    font-weight: bold;
    color: #ffb424;
    text-decoration: none;
    line-height: 24px;
}
ul.product_list_widget del .amount{
    font-weight: normal;
    color: #999999;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 24px; 
}
ul.product_list_widget .product-star{
    font-size: 12px;
    color: #ccc;
    margin-left: 80px;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product{
    width: 100%;
    padding: 0;
    margin: 0;
}
.widget_recent_reviews ul.product_list_widget li a{
    font-weight: normal;
}
.widget_recent_reviews .product_list_widget li  a img{
    margin-right: 10px;
}
.woocommerce .products ul, 
.woocommerce ul.products{
    margin: 0;
}
.woocommerce .category-products ul.products li.product, 
.woocommerce-page .category-products ul.products li.product{
	width: 33.33333%;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 10px;
    line-height: 24px;
    margin-top: 20px;
}

.woocommerce .category-products ul.products,
.woocommerce-page .category-products ul.products{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
}
.woocommerce .list-1-columns ul.products li.product{
	width: 100%;
}
.woocommerce .list-2-columns ul.products li.product{
	width: 50%;
}
.woocommerce .list-3-columns ul.products li.product{
	width: 33.33333%;
}
.woocommerce .list-4-columns ul.products li.product{
	width: 25%;
}
.woocommerce .list-5-columns ul.products li.product{
	width: 20%;
}
.woocommerce .list-6-columns ul.products li.product{
	width: 16.6666666%;
}
.woocommerce .list-7-columns ul.products li.product{
    width: 14.22222%;
}
.woocommerce .list-8-columns ul.products li.product{
    width: 12.5%;
}
.woocommerce .list-9-columns ul.products li.product{
    width: 11.111111%;
}
.woocommerce .list-10-columns ul.products li.product{
    width: 10%;
}
.woocommerce ul.products li.product .price,
ul.products li.product .price{
	font-weight: bold;
    color: #ffb424;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    width: auto;
    display: inline-block;
}
.woocommerce ul.products li.product .price del,
ul.products li.product .price del{
	color: #999999;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 24px;
    width: auto;
    display: inline-block;
    padding-left: 15px;
    font-weight: normal;
    float: right;
}
ul.products li.product h3{
	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 24px;
    font-weight: normal;
}
ul.products li.product .price ins{
	font-variant: bold;
	float: left;
}
.woocommerce span.onsale,
.products .product-status span.onsale{
	height: 17px;
    padding: 0 10px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: #ff4318;
    color: #fff;
    border-radius: 0;
    min-height: 17px;
}
.woocommerce ul.products li.product .onsale,
ul.products li.product .onsale{
	margin: 0;
	right: inherit;
	left: 0px;
	top: 0px;
}
.woocommerce .widget_layered_nav_filters ul li a{
    margin-right: 10px;
}
/*--------------
['Sort product']
---------------*/
.woocommerce .woocommerce-ordering {
    width: auto;
    margin: 0;
    border: 1px solid #eaeaea;
}
.woocommerce .woocommerce-ordering .orderby {
    display: inline-block;
    float: left;
    width: auto;
    border: none;
    height: 27px;
    padding: 0 10px;
}
.woocommerce .woocommerce-ordering:before {
    content: "\f15d";
    display: inline-block;
    width: 38px;
    text-align: center;
    float: right;
    height: 27px;
    border-left: 1px solid #eaeaea;
    background: #fafafa;
    line-height: 27px;
    font-family: 'FontAwesome';
}

.category-products .navigation {
	float: right;
	margin-left: 30px;
}

.woocommerce.product.compare-button{
	margin: 0;
	padding: 0;
}
.woocommerce ul.products li.product a img{
    margin: 0;
}

/*--------------
[Product list view ]
---------------*/
.sidebar-full .products-list-view ul.products li.product{
    width: 50%!important;
    clear: none;
    float: left;
}
.sidebar-full .products-list-view ul.products li.product .inner{
    margin-left: -15px;
    margin-right: -15px;
}
.sidebar-full .products-list-view ul.products li.product .product-left{
    width: 50%;
    padding: 0 15px;
}
.sidebar-full .products-list-view ul.products li.product .product-right{
    width: 50%;
    padding: 0 15px;
}
.products-list-view ul.products li.product{
    width: 100%!important ;
}
.products-list-view ul.products li.product .product-left{
    width: 31%;
    float: left;
    position: relative;
}
.products-list-view ul.products li.product .product-right{
    width: 66%;
    float: right;
    position: inherit;
    top: inherit;
    bottom: inherit;
    left: inherit;
    right: inherit;
    padding: 0;
}
.products-list-view ul.products li.product .product-container .inner{
    padding-bottom: 0;
}
.products-list-view .products .product-container{
    padding-bottom: 10px;
}
.products-list-view .products .product-container .desc{
    display: block;
}
.products-list-view .products .btn-quick-view{
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*---------------
[Single product]
-----------------*/
.woocommerce div.product form.cart, 
.woocommerce div.product p.cart{
    padding: 0;
    margin: 0;
}
.block-product-image{
    width: 100%;
    margin-top: 30px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding: 10px;
    position: relative;
}
.block-product-image span.onsale{
    top: 10px;
    left: 10px;
}
.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images{
    width: 100%;
    margin-bottom: 0;
}
.woocommerce-page div.product div.images .notice{
    margin-top: 15px;
    color: #999;
    margin-bottom: 15px;
}
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary{
    width: 100%;
    margin-top: 30px;
    float: left;
    margin-bottom: 0;
}

.woocommerce div.product div.images div.thumbnails{
    margin-top: 10px;
    padding: 0 60px;
    overflow: hidden;
}
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    margin-left: 1px;
    margin-right: 1px;
}
.woocommerce div.product div.images div.thumbnails .owl-prev{
    left: 30px;
}
.woocommerce div.product div.images div.thumbnails .owl-next{
    right: 30px;
}
.woocommerce #content div.product div.thumbnails a img, 
.woocommerce div.product div.thumbnails a img, 
.woocommerce-page #content div.product div.thumbnails a img, 
.woocommerce-page div.product div.thumbnails a img{
    border: 1px solid transparent;
}
.woocommerce #content div.product div.thumbnails a:hover img, 
.woocommerce div.product div.thumbnails a:hover img, 
.woocommerce-page #content div.product div.thumbnails a:hover img, 
.woocommerce-page div.product div.thumbnails a:hover img{
    border-color: #5a88ca;
}
.woocommerce div.product .product_title{
    font-size: 30px;
}
.woocommerce div.product .woocommerce-product-rating{
    margin: 0;
    font-size: 12px;
    color: #ccc;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price{
    font-size: 14px;
    color: #ffb424;
    font-weight: bold;
    margin-bottom: 0;
}
.woocommerce div.product p.price del ,
.woocommerce div.product span.price del{
    font-weight: normal;
}
.woocommerce div.product div[itemprop="description"]{
    margin: 0;
    padding:20px 0;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.woocommerce div.product div[itemprop="description"] p{
    margin-bottom: 0;
}
.variations-table{
    border: none;
    padding: 0;
    width: auto;
    display: inline-block;
    float: left;
}
.variations-table select{
    height: 30px;
}
.variations-table label{
    font-weight: normal;
    margin: 0;
}
.variations-table th,
.variations-table td{
    border: none;
    padding: 10px 0;
}
.variations-table td:first-child{
    width: 65px;
}
.swatch-wrapper{
    padding: 1px;
    border-color: #eaeaea;
    margin: 0;
    margin-right: 10px;
    position: relative;
}
.swatch-wrapper img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    float: left;
}

div.swatch-wrapper.selected{
    padding: 1px;
    border:1px solid #eaeaea;
}
.swatch-wrapper:hover{
    border-color: #eaeaea;
}
.swatch-wrapper:hover:before,
div.swatch-wrapper.selected:before{
    display: block;
}
.swatch-wrapper:before{
    width: 5px;
    height: 5px;
    background: url('../images/arow.png') no-repeat;
    content: '';
    position: absolute;
    top: -7px;
    left: 17px;
    display: none;
}
.woocommerce div.product form.cart .single_add_to_cart_button{
    position: relative;
    border: 1px solid #eaeaea;
    padding: 1px;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0;
    color: #666666;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    margin-top: 8px;
    font-size: 14px;
    margin-left: 5px;
    font-weight: normal;
}

.woocommerce div.product form.cart .single_add_to_cart_button:before{
    content: ' ';
    background-image: url("../images/cart-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #5a88ca;
    border-radius: 90%;
    text-align: center;
    line-height: 26px;
    float: left;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.woocommerce div.product form.cart .single_add_to_cart_button:hover{
    border-radius: 0%;
}
.woocommerce div.product form.cart .single_add_to_cart_button:hover:before{
    border-radius: 0%;
}
.summary .yith-wcwl-add-to-wishlist + div.clear{
    display: none;
}
.summary .btn-add-comparre,
.summary .compare.button{
    margin-right: 20px;
}
.summary .box-control-button{
    overflow: hidden;
}
.summary .product_meta{
    margin-top: 5px;
    overflow: hidden;
}
.summary .product_meta>span{
    width: 100%;
    float: left;
}

.woocommerce div.product form.cart .variations{
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
}
.woocommerce div.product form.cart .variations td{
    padding: 6px 0;
}
.woocommerce div.product form.cart .variations td.label{
    padding: 6px 0;
    width: 64px;
    display: block; 
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    color: #333;
    text-align: left;
    white-space: nowrap;
    vertical-align: inherit;
    border-radius: 0;
    margin: 0;
}
.woocommerce div.product form.cart .variations select{
    height: 30px;
}
.woocommerce div.product form.cart .variations label{
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
/*---------------
[Tab]
----------------*/
.woocommerce-tabs{
    margin-top: 30px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    max-width: 100%;
    width: 100%;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding: 15px 20px;
    border-bottom: 1px solid #eaeaea;
    background: #fbfbfb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    padding: 0;
    margin: 0;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    float: left;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after{
    display: none;
}
.woocommerce div.product .woocommerce-tabs .panel{
    padding: 20px;
    margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    text-transform: uppercase;
    float: left;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
    background: #5a88ca;
    color: #fff;
}
.woocommerce #reviews #comments ol.commentlist{
    padding: 0;
}
.woocommerce #reviews #comments h2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
}
#review_form_wrapper .comment-reply-title{
    margin-bottom: 25px;
}
.woocommerce #reviews #comments .product-star{
    float: right;
}
.woocommerce .star-rating{
    color: #ccc;
    font-size: 11px;
}
.woocommerce div.product .woocommerce-tabs div[itemprop="description"]{
    padding: 0;
    margin: 0;
}
#review_form_wrapper .comment-reply-title{
    margin-bottom: 15px;
}
.woocommerce-tabs h2{
    margin-top: 0;
    font-size: 24px;
}
.woocommerce #reviews h3{
    margin-bottom: 25px;
    font-size: 20px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar{
    width: 60px;
    height: 60px;
    background: #fff;
    padding: 5px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
    margin-left: 90px;
}
.woocommerce .single_variation{
    width: 100%;
    float: left;
    padding-left: 64px;
}
.woocommerce div.product p.stock{
    font-size: 14px;
}
/*---------------
[ Quick view]
----------------*/
.quick-view-product .block-product-image{
    margin-top: 0;
}
#yith-quick-view-content div.summary{
    margin-top: 0;
}
#yith-quick-view-content .images {
    margin-bottom: 0;
}

/*------------------
[ Page cart]
-------------------*/
.woocommerce-cart table.cart .product-thumbnail{
    max-width: 100px;
}
.woocommerce-cart table.cart .product-thumbnail img{
    width: 100px;
}
.woocommerce td.product-name dl.variation dd{
    padding: 0;
    margin: 0;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text{
    width: 130px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
    padding: 0 10px;
    height: 34px;
    line-height: inherit;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, 
.woocommerce-page .cart-collaterals .cross-sells ul.products li{
    width: 100%;
}
.woocommerce .cart-collaterals .cross-sells, 
.woocommerce-page .cart-collaterals .cross-sells{
    width: 60%;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 35%;
}
/*------------------
[ Withlist]
-------------------*/
#yith-wcwl-form .wishlist-title h2 {
    font-size: 24px;
    margin-top: 0;
    padding: 0;
}
.woocommerce table.wishlist_table{
    font-size: 14px;
}
.woocommerce table.wishlist_table .remove_from_wishlist{
    font-weight: normal;
    padding: 0;
    margin: 0 auto;
}
.woocommerce table.wishlist_table tr td.product-remove{
    text-align: center;
    padding: 0;
}
.woocommerce .wishlist_table td.product-add-to-cart a{
    width: auto;
    display: inline-block!important;
    float: left;
}
.woocommerce table.wishlist_table tbody td.product-add-to-cart{
    text-align: left;
}
.woocommerce table.wishlist_table .remove_from_wishlist.button{
    margin-left: 10px;
    padding: 0 15px;
    border: 1px solid #eaeaea;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    color: #666666;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 14px;
}
.woocommerce .wishlist_table td.product-add-to-cart .add_to_cart_button{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.woocommerce .wishlist_table td.product-add-to-cart .add_to_cart_button:before{
    content: ' ';
    background-image: url("../images/cart-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #5a88ca;
    border-radius: 90%;
    text-align: center;
    line-height: 26px;
    float: left;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.woocommerce .wishlist_table td.product-add-to-cart .add_to_cart_button:hover,
.woocommerce .wishlist_table td.product-add-to-cart .add_to_cart_button:hover:before,
.woocommerce table.wishlist_table .remove_from_wishlist.button:hover{
    border-radius: 0%;
}
.woocommerce .wishlist_table td.product-add-to-cart .add_to_cart_button:hover{
    padding-left: 40px;
    padding-right: 20px;
}
/*------------------
[ Compare]
-------------------*/
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxMiddleRight,
#cboxBottomLeft{
    display: none;
}
.woocommerce table.shop_attributes td{
    padding: 10px;
}