.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	padding: 0 15px;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: none;
    background: #5a88ca;
    color: #fff;
    border-radius: 0;

}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
    background: #5a88ca;
    color: #fff;
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message{
	padding: 0;
	width: 100%;
	float: left;
}
.woocommerce .cart-empty{
	border: 1px solid #eaeaea;
	padding: 15px;
	width: 100%;
	float: left;
}
.woocommerce table.shop_table{
	border-radius: 0;
	border: none;
	padding: 0;
	border-collapse: collapse;
}
.woocommerce-checkout #payment{
	background: #eaeaea;
	border: none;
	border-radius: 0;
}

/*----------------
[Widget]
-----------------*/
.woocommerce.widget_product_search {
    padding: 0;
    border: none;
    webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
}
.woocommerce.widget_product_search .widget-title {
    display: none;
}
.woocommerce.widget_product_search form {
    position: relative;
}
.woocommerce.widget_product_search .screen-reader-text {
    display: none;
}
.woocommerce.widget_product_search .search-field {
    padding-right: 70px;
}
.woocommerce.widget_product_search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
}